.third--container{
    width: 1455px;
    border: 1px solid;
    height: 100vh;
    display: flex;
    flex-direction: row;
    background-color: white;

    .third--container-one{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;

        .left{
            display: flex;
            flex-direction: column;
            width: 45%;
            border: 1px solid;
            img{
                // position: absolute;
                width: 581px;
                height: 609px;
                left: 14.97px;
                top: 35px;
            }
        }

        .right{
            width: 45%;
        }

    }
}